# Level 3 Task 2
Task: Customer Preference Analysis

Analyze the relationship between the type of
cuisine and the restaurant's rating.
Identify the most popular cuisines among
customers based on the number of votes.
Determine if there are any specific cuisines
that tend to receive higher ratings.

In [5]:
import pandas as pd

In [17]:
zomato_data = pd.read_csv("zomato.csv")
zomato_data.isnull().sum()
zomato_data.dropna(inplace=True)
zomato_data.isnull().sum()
zomato_data.drop_duplicates(inplace=True)
zomato_data.info()
zomato_data.head()

<class 'pandas.core.frame.DataFrame'>
Index: 23193 entries, 0 to 51715
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          23193 non-null  object
 1   address                      23193 non-null  object
 2   name                         23193 non-null  object
 3   online_order                 23193 non-null  object
 4   book_table                   23193 non-null  object
 5   rate                         23193 non-null  object
 6   votes                        23193 non-null  int64
 7   phone                        23193 non-null  object
 8   location                     23193 non-null  object
 9   rest_type                    23193 non-null  object
 10  dish_liked                   23193 non-null  object
 11  cuisines                     23193 non-null  object
 12  approx_cost(for two people)  23193 non-null  object
 13  reviews_list                 23193 non-null  object
 14  menu_item                    23193 non-null  object
 15  listed_in(type)              23193 non-null  object
 16  listed_in(city)              23193 non-null  object
dtypes: int64(1), object(16)
memory usage: 3.2+ MB

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

# Remove 'NEW' and 'Opening Soon' and other non-numeric strings from 'rate'

In [7]:
zomato_data['rate'] = zomato_data['rate'].replace('NEW', None)
zomato_data['rate'] = zomato_data['rate'].replace('Opening Soon', None)

# Convert 'rate' from '4.1/5' to a float, after handling non-numeric strings

In [8]:
zomato_data['rate'] = zomato_data['rate'].str.split('/').str[0]
zomato_data['rate'] = pd.to_numeric(zomato_data['rate'], errors='coerce')

# Now calculate the average rating for each cuisine

In [9]:
cuisine_ratings = zomato_data.groupby('cuisines')['rate'].mean()

# Identify the most popular cuisines based on votes

In [10]:
popular_cuisines = zomato_data.groupby('cuisines')['votes'].sum().sort_values(ascending=False)

In [11]:
print("Average Ratings by Cuisine:")
print(cuisine_ratings.sort_values(ascending=False))

Average Ratings by Cuisine:
cuisines
Asian, Chinese, Thai, Momos                                             4.9
Healthy Food, Salad, Mediterranean                                      4.9
Continental, North Indian, Italian, South Indian, Finger Food           4.9
North Indian, European, Mediterranean, BBQ                              4.8
Asian, Mediterranean, North Indian, BBQ                                 4.8
                                                                       ...
Finger Food, Continental, North Indian, Fast Food                       NaN
Mexican, Italian, Fast Food, North Indian                               NaN
North Indian, Pan Asian, Chinese, Italian, Continental, South Indian    NaN
North Indian, South Indian, Chinese, Italian                            NaN
North Indian, Steak, South Indian                                       NaN
Name: rate, Length: 1687, dtype: float64

In [12]:
print("\nMost Popular Cuisines by Votes:")
print(popular_cuisines.head())  # Display top cuisines

Most Popular Cuisines by Votes:
cuisines
North Indian                                    487386
Pizza, Cafe, Italian                            347520
Cafe, American, Burger, Steak                   301059
North Indian, Mughlai, South Indian, Chinese    227930
North Indian, Chinese                           219244
Name: votes, dtype: int64