# Level 2 Task 3

Task: Feature Engineering

Extract additional features from the existing
columns, such as the length of the restaurant
name or address.
Create new features like "Has Table Booking"
or "Has Online Delivery" by encoding
categorical variables.

In [1]:
import pandas as pd

In [3]:
dataframe = pd.read_csv("zomato.csv")
dataframe.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [4]:
dataframe.dropna(inplace=True)

In [5]:
dataframe.isnull().sum()
dataframe.drop_duplicates(inplace=True)

In [6]:
dataframe['name_length'] = dataframe['name'].apply(len)

In [7]:
dataframe['address_length'] = dataframe['address'].apply(len)

In [8]:
dataframe['Has_Table_Booking'] = dataframe['book_table'].apply(lambda x: 1 if x == 'Yes' else 0)
dataframe['Has_Online_Delivery'] = dataframe['online_order'].apply(lambda x: 1 if x == 'Yes' else 0)

In [9]:
print(dataframe.head())

                                                 url  \
0  https://www.zomato.com/bangalore/jalsa-banasha...
1  https://www.zomato.com/bangalore/spice-elephan...
2  https://www.zomato.com/SanchurroBangalore?cont...
3  https://www.zomato.com/bangalore/addhuri-udupi...
4  https://www.zomato.com/bangalore/grand-village...

                                             address                   name  \
0  942, 21st Main Road, 2nd Stage, Banashankari, ...                  Jalsa
1  2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...         Spice Elephant
2  1112, Next to KIMS Medical College, 17th Cross...        San Churro Cafe
3  1st Floor, Annakuteera, 3rd Stage, Banashankar...  Addhuri Udupi Bhojana
4  10, 3rd Floor, Lakshmi Associates, Gandhi Baza...          Grand Village

  online_order book_table   rate  votes                             phone  \
0          Yes        Yes  4.1/5    775    080 42297555\r\n+91 9743772233
1          Yes         No  4.1/5    787                      080 41714161
2          Yes         No  3.8/5    918                    +91 9663487993
3           No         No  3.7/5     88                    +91 9620009302
4           No         No  3.8/5    166  +91 8026612447\r\n+91 9901210005

       location            rest_type  ...                        cuisines  \
0  Banashankari        Casual Dining  ...  North Indian, Mughlai, Chinese
1  Banashankari        Casual Dining  ...     Chinese, North Indian, Thai
2  Banashankari  Cafe, Casual Dining  ...          Cafe, Mexican, Italian
3  Banashankari          Quick Bites  ...      South Indian, North Indian
4  Basavanagudi        Casual Dining  ...        North Indian, Rajasthani

  approx_cost(for two people)  \
0                         800
1                         800
2                         800
3                         300
4                         600

                                        reviews_list menu_item  \
0  [('Rated 4.0', 'RATED\n  A beautiful place to ...        []
1  [('Rated 4.0', 'RATED\n  Had been here for din...        []
2  [('Rated 3.0', "RATED\n  Ambience is not that ...        []
3  [('Rated 4.0', "RATED\n  Great food and proper...        []
4  [('Rated 4.0', 'RATED\n  Very good restaurant ...        []

  listed_in(type) listed_in(city) name_length  address_length  \
0          Buffet    Banashankari           5              55
1          Buffet    Banashankari          14             100
2          Buffet    Banashankari          15              82
3          Buffet    Banashankari          21              58
4          Buffet    Banashankari          13             106

   Has_Table_Booking  Has_Online_Delivery
0                  1                    1
1                  0                    1
2                  0                    1
3                  0                    0
4                  0                    0

[5 rows x 21 columns]